IO_LOC "clk" 4;       // crystal

IO_LOC "clk_50" 10;       // crystal
IO_LOC "clk_125" 11;       // crystal
//IO_LOC "clk_93" 13;       // crystal

IO_LOC "s1" 88;
IO_PORT "s1" PULL_MODE=DOWN;

IO_LOC "tmds_clk_p" 33,34;
IO_PORT "tmds_clk_p" IO_TYPE=LVCMOS33D PULL_MODE=NONE;
IO_LOC "tmds_data_p[0]" 35,36;
IO_PORT "tmds_data_p[0]" IO_TYPE=LVCMOS33D PULL_MODE=NONE;
IO_LOC "tmds_data_p[1]" 37,38;
IO_PORT "tmds_data_p[1]" IO_TYPE=LVCMOS33D PULL_MODE=NONE;
IO_LOC "tmds_data_p[2]" 39,40;
IO_PORT "tmds_data_p[2]" IO_TYPE=LVCMOS33D PULL_MODE=NONE;

//IO_LOC "led[5]" 20;
//IO_PORT "led[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
//IO_LOC "led[4]" 19;
//IO_PORT "led[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
//IO_LOC "led[3]" 18;
//IO_PORT "led[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
//IO_LOC "led[2]" 17;
//IO_PORT "led[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
//IO_LOC "led[1]" 16;
//IO_PORT "led[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
//IO_LOC "led[0]" 15;
//IO_PORT "led[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "mode[0]" 27;
IO_PORT "mode[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "csw_n" 28;
IO_PORT "csw_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "csr_n" 25;
IO_PORT "csr_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "int_n" 26;
IO_PORT "int_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "cpuclk" 29;
IO_PORT "cpuclk" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "gromclk" 30;
IO_PORT "gromclk" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "reset_n" 31;
IO_PORT "reset_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC "cd[0]" 49;
IO_PORT "cd[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "cd[1]" 55;
IO_PORT "cd[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "cd[2]" 48;
IO_PORT "cd[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "cd[3]" 51;
IO_PORT "cd[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "cd[4]" 54;
IO_PORT "cd[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "cd[5]" 56;
IO_PORT "cd[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "cd[6]" 41;
IO_PORT "cd[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "cd[7]" 42;
IO_PORT "cd[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC "mode[1]" 86;
IO_PORT "mode[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC "cpuclk_ena_n" 18;
IO_PORT "cpuclk_ena_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "gromclk_ena_n" 19;
IO_PORT "gromclk_ena_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "scanlin_n" 20;
IO_PORT "scanlin_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "maxspr_n" 17;
IO_PORT "maxspr_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "adc_mosi" 52;
IO_PORT "adc_mosi" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "adc_miso" 53;
IO_PORT "adc_miso" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "adc_cs" 71;
IO_PORT "adc_cs" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "adc_clk" 72;
IO_PORT "adc_clk" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;